%h4.col-md-12
  Comments
  %span.num
    (#{comments.count})
- if prototype.comments.present?
  .col-md-8
    .comment_list
      = render partial: "prototypes/comment", collection: comments
.col-md-8
  - if user_signed_in?
    = form_for [prototype, new_comment], html: { class: "form-inline" }, remote: true do |f|
      %h4
        Write a comment
      .row
        .form-group.col-md-10
          = f.text_area :text, placeholder: "Your comment", rows: "3", class: "textform-control", id: "comment_text"
        .form-group.col-md-2
          = f.submit "Comment", class: "btn btn-primary"
