- if @prototype.comments.present?
  %h4.col-md-12
    Comments
    %span.num
      (#{comments.count})
  .col-md-8
    .comment_list
      = render partial: "comment", collection: comments
- if user_signed_in?
  .col-md-8
    .comment_list
    = form_for [prototype, new_comment], html: { class: "form-inline" } do |f|
      %h4
        Write a comment
      .row
        .form-group.col-md-10
          = f.text_area :text, placeholder: "Your comment", rows: "3", class: "textform-control"
        .form-group.col-md-2
          = f.submit "Comment", class: "btn btn-primary"
