= form_for prototype, html: { class: "container proto-new" } do |f|
  .col-md-8.col-md-8.col-md-offset-2.prototype-form
    %header.row.user-nav
      .field.col-me-12
        = f.text_field :title, autofocus: true, class: "proto-new-title", placeholder: "Title"
    .row
      .col-me-12
        .cover-image-upload
          - if prototype.images.main.present?
            = f.fields_for :images, prototype.images.main do |main_image_form|
              = main_image_form.file_field :image
              = main_image_form.hidden_field :status, value: :main
          - else
            = f.fields_for :images do |main_image_form|
              = main_image_form.file_field :image
              = main_image_form.hidden_field :status, value: :main

      .col-me-12
        %ul.proto-sub-list.list-group
          - if prototype.images.sub.present?
            = render partial: "sub_image_form", collection: prototype.images.sub, locals: { f: f }
          - else
            - 2.times do
              %li.list-group-item.col-md-4.appear_form
                .image-upload
                  = f.fields_for :images do |sub_images_form|
                    = sub_images_form.file_field :image
                    = sub_images_form.hidden_field :status, value: :sub
            %li.list-group-item.col-md-4#add_new_form
              .image-upload-plus
                %span
                  +

      .row.photo-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, placeholder: "Concept", class: "concept-text-area"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-4
              = text_field_tag "prototype[tag][]", "", placeholder: "Web Design"
            .col-md-4
              = text_field_tag "prototype[tag][]", "", placeholder: "UI"
            .col-md-4
              = text_field_tag "prototype[tag][]", "", placeholder: "Application"
      .actions.proto-btn.text-center
        = f.submit "Publish", class: "btn btn-lg btn-primary btn-block"
