.col-sm-4.col-md-3.proto-content
  - if user_signed_in?
    - if current_user.id == prototype.user_id
      .dropdown.drop-menu-location
        %button.btn.btn-default.dropdown-toggle#dropdownMenu(type="button" data-toggle="dropdown" aria-expanded="true")
          Action
        %ul.dropdown-menu
          %li
            = link_to "Edit", edit_prototype_path(prototype)
          %li
            = link_to "Delete", prototype_path(prototype), method: :delete
  .thumbnail
    = link_to image_tag(prototype.images.first.image), prototype_path(prototype)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          = link_to "by #{prototype.user.nickname}", "#"
        .proto-posted
          = prototype.created_at.strftime("%b %d")
      %ul.proto-tag-list.list-inline
        = render partial: "tag", collection: prototype.tags
