- if user_signed_in?
  - if @like.blank?
    = button_to prototype_likes_path(prototype), class: "button btn btn-default increment-button", id: "like-button", remote: true do
      = image_tag("icon_heart.svg")
      LIKE
      %span.num#like-sum
        = prototype.likes.count
  - else
    = button_to prototype_like_path(prototype_id: prototype.id, id: like.id), method: :delete, class: "button btn btn-default increment-button", id: "like-button", remote: true do
      = image_tag("icon_heart_red.svg")
      LIKE
      %span.num#like-sum
        = prototype.likes.count
- else
  = button_to user_session_path, class: "button btn btn-default increment-button", id: "like-button" do
    = image_tag("icon_heart.svg")
    LIKE
    %span.num#like-sum
      = prototype.likes.count
