.container.user-page
  %header.user-nav
    .media
      .media-left
        = image_tag @user.avatar, class: 'media-object'
      .media-body
        %h4.media-heading
          Top aligned medida
          %span.label.label-default.project-number
            = @prototypes.count
            %i Projects
        .proto-user
          %span.degree
            こんにちは
        .row
          .col-md-6
            %h4
              Profile
            %p
              = @user.profile
          .col-md-6
            %h4
              Works
            %p
              = @user.work

.container.proto-list
  = render @prototypes

.text-center
  = paginate @prototypes
